@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');
*{
    font-family: 'Maven Pro', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p{
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
}

.loader{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    font-size: 2vw;
}



.container{
    display: flex;
    justify-content: space-between;
    height: 100vh;
    position: relative;
    .none{
        display: none;
    }
    .block{
        display: block;
    }
    .lhs{
        background-color: #DDDDFF;
        width: auto;
        height: 100%;
        position: absolute;
        z-index: 2;
        .sidebar{
            display: flex;
            flex-direction: column;
            
            .sidebar-img{
                padding: 40px 65px;
            }
            .sidebar-links{
                .slinks{
                    padding: 17px 56px;
                    a{
                        text-decoration: none;
                    }
                    p{
                        margin: 5px;
                    }
                }
                #home-cursor{
                    &:hover{
                        cursor: pointer;
                    }
                }
                .active{
                    background-color: #B9B9FF;
                    p{
                        color: white;
                    }
                }
            }
        }
    }
    .rhs{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: space-between;
        height: 100%;
        z-index: 1;
        .rhs-container{
            display: flex;
            flex-direction: column;
            height: 100%;
        .table-area-header{
            padding-left: 20px;
            box-shadow: 0px -7px 24px rgba(0, 0, 0, 0.25);
            display: flex;
            align-items: center;
            gap: 15px;
            .hamburger-menu{
                div{
                    width: 15px;
                    height: 2px;
                    border-top: 1px solid black;
                    padding: 2px;
                }
            }
            ul{
                display: flex;
                flex-direction: row;
                padding-left: 0;
                justify-content: center;
                flex-wrap: wrap;
                padding-inline-start: 0px;
                li{
                    list-style-type: none;
                    padding-left: 5px;
                }
                .crumb{
                    p{
                        color: yellow;
                    }
                    &:before{
                        padding: 14px;
                        content: "\003E";
                    } 
                }
            }
        }
    }
        .table-area{
            padding: 30px 35px 10px 35px;
            .table-area-container{
                box-shadow: 0px -3px 10px -3px rgba(0, 0, 0, 0.25);
                height: 70vh;
                overflow-y: auto;
            }
            .table-title{
                padding: 20px;
                font-weight: 700;
                font-size: 18px;
                line-height: 23px;
                color: #30425A;
            }
            table{
                width: 95%;
                display: table;
                table-layout: fixed;
                thead{
                    position: sticky;
                    top: 0;
                    tr{
                        :nth-child(1){
                            width: 5%;
                        }
                        :nth-child(2){
                            width: 20%;
                        }
                        :nth-child(3){
                            width: 15%;
                        }
                        :nth-child(4){
                            width: 10%;
                        }
                        :nth-child(5){
                            width: 20%;
                        }
                        :nth-child(6){
                            width: 20%;
                        }
                    }
                }
                tbody{
                    height: 40vh;
                    // overflow-y: scroll;
                    img{
                        justify-self: center;
                        width: 100px;
                    }
                }
                tr{
                    display: flex;
                    padding: 20px;
                    justify-content: space-between;
                    flex-direction: row;
                    width: 900px;
                    text-align: center;
                    :nth-child(1){
                        width: 5%;
                        min-width: 6px;
                    }
                    :nth-child(2){
                        width: 20%;
                        min-width: 45px;
                    }
                    :nth-child(3){
                        width: 15%;
                        min-width: 96px;
                    }
                    :nth-child(4){
                        width: 10%;
                        min-width: 46px;
                    }
                    :nth-child(5){
                        width: 20%;
                        min-width: 120px;
                    }
                    :nth-child(6){
                        width: 20%;
                        min-width: 50px;
                    }
                    &:hover{
                        font-weight: 600;
                    }
                    &:nth-child(even){
                        background-color: #F5F5F5;
                    }
                }
                .table-head{
                    background-color: #E5E5E5;
                }
                #elephant-table{
                    &:hover{
                        cursor: pointer;
                    }
                    tr{
                        &:hover{
                            background-color: #bebebe;
                        }
                    }
                }
            }
        }
        .pagination-container{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px;
            padding-top: 0px;
            padding-bottom: 5px;
            box-shadow: 0px 10px 10px -3px rgba(0, 0, 0, 0.25);
            .page-btn-container{
                width: 100%;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                .page-btn{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .disabled{
                    background: #919EAB;
                    opacity: 0.5;
                    color: #C4CDD5;
                }
                .activePageBtn{
                    background: #FFFFFF;
                    border: 1px solid #0546E0;
                    box-sizing: border-box;
                    color: #0546E0;
                }
                button{
                    background-color: white;
                    border: 1px solid #DFE3E8;
                    outline: none;
                    margin-left: 5px;
                    border-radius: 4px;
                    width: 32px;
                    height: 32px;
                }
            }
        }
    }
    .elephant-container{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        .elephant-content-area{
            padding: 5px;
            width: 90%;
        }
        .elephant-image{
            position: relative;
            padding: 20px;
            padding-bottom: 0px;
            padding-left: 0px;
            padding-right: 0px;
            width: 100%;
            margin-left: 10px;
            &::after{
                position: absolute;
                content: "";
                width: 100%;
                height: 50%;
                left: 0;
                bottom: 4px;
                background: linear-gradient(180deg, rgba(196, 196, 196, 0) -1.55%, rgba(29, 29, 242, 0.37) 77.84%);
            }
            img{
                text-align: center;
                width: 100%;
                height: 50vh;
                object-fit: cover;
            }
            
        }
        .elephant-details{
            display: flex;
            gap: 16px;
            margin-left: 20px;
            border-bottom: 1px solid black;
            align-items: center;
            width: 100%;
            h1{
                color: #30425A;
                font-weight: 700;
                font-size: 48px;
                line-height: 61px;
                height: 74px;
                margin-top: 29px;
                margin-bottom: 17px;
            }
            p{
                height: 15px;
                margin-bottom: 5px;
            }
        }
        .elephant-notes{
            margin-left: 20px;
            margin: 5px;
            color: #30425A;
            font-weight: 400;
            font-size: 24px;
            line-height: 30px;
            width: 100%;
            p{
                margin: 5px;
                font-weight: 400;
                font-size: 24px;
                line-height: 30px;
                margin-top: 20px;
                color: #30425A;
            }
        }
    }
}

.hamburger-menu{
    padding: 20px;
    position: absolute;
    top: -5px;
    left: 10px;
    z-index: 3;
    div{
        width: 15px;
        height: 2px;
        border-top: 1px solid black;
        padding: 2px;
    }
}

.table-area-header{
    padding-left: 35px;
    box-shadow: 0px -7px 24px rgba(0, 0, 0, 0.25);
    ul{
        display: flex;
        flex-direction: row;
        padding-inline-start: 0px;
        li{
            list-style-type: none;
        }
        .crumb{
            p{
                &::before{
                    padding: 14px;
                    content: "\003E";
                }
            }
            
        }
    }

}


@media (min-width: 1096px){
    .container{
        .lhs{
            position: relative;
        }
        .rhs{
            .table-area{
                table{
                    tr{
                        width: 100%;
                    }
                }
            }
            .pagination-container{
                .page-btn-container{
                    width: 30%;
                }
            }
        }
        .elephant-container{
            .elephant-content-area{
                padding-left: 55px;
            }
            .elephant-image{
                img{
                    width: 100%;
                }
            }
        }
    }
}